.moviesCounter
{
    font-weight: bold;
 
}
#moviesCountersContainer
{

	margin-bottom: 100px;
	padding: 0;


}
#moviesListContainer
{

}
li
{
	    text-align: center;

}
.seen
{
	color: green;
}
li:hover
{
    text-decoration: underline;

}
#MoviesList
{
	padding: 0;
	margin: 0 ;
}
ul 
{
	position:absolute;
	top:100px;
border:1px solid black;
  list-style-type: none;
padding: 0;
}
li
{
	padding: 0;
}
