.moviesCounter
{
    font-weight: bold;
 
}
#moviesCountersContainer
{

	margin-bottom: 100px;
	padding: 0;


}
#moviesListContainer
{

}
li
{
	    text-align: center;

}
.seen
{
	color: green;
}
li:hover
{
    text-decoration: underline;

}
#MoviesList
{
	padding: 0;
	margin: 0 ;
}
ul 
{
	position:absolute;
	left: 50%;
	top:100px;

  list-style-type: none;
padding: 0;
align-self: center;
}
li
{
	padding: 0;
}
table
{
    border-collapse: collapse;
	max-width: 65%;
}

table, th, td 
{
    border: 1px solid black;
text-align: left;
margin: 2%;
}
td
{
padding:0 10% 0 0 1%;	
}
#summary
{
	padding: 10px;
}