.liczniki
{
    font-weight: bold;
 
}
#moviesCountersContainer
{
	border:1px solid black;
	margin-bottom: 100px;
}
#moviesListContainer
{
border:1px solid black;	
}
li
{
	    text-align: center;

}
.seen
{
	color: green;
}
li:hover
{
    text-decoration: underline;

}
ul 
{
  list-style-type: none;
}
